<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="../pages/dashboard.php"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-group fa-fw"></i> Contacts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <?php include('../pages/scripts/Super_User_Access.php');  ?>

                    <li>
                        <a href="../pages/Contacts.php">Add New Agent</a>
                    </li>
                    <li>
                        <a href="../pages/NewAirline.php">Add New Airline</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../pages/main.php"><i class="fa fa-database fa-fw"></i> Add New Ticket</a>
            </li>
            <li>
                <a href="../pages/Main_Data.php"><i class="fa fa-database fa-fw"></i> All Tickets</a>
            </li>
            <li>
                <a href="../pages/AirlinesCapping.php"><i class="fa fa-ticket fa-fw"></i> Capping</a>
            </li>
            <li>
                <a href="../pages/Flights.php"><i class="fa fa-plane fa-fw"></i> Flights</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-money fa-fw"></i> Payment<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">


                    <li>
                        <a href="../pages/Dues.php"> Dues</a>
                    </li>
                    <li>
                        <a href="../pages/PaymentByClient.php">Payment By Client</a>
                    </li>
                    <li>
                        <a href="../pages/PaymentByAgent.php">Payment By Agent</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-history fa-fw"></i> History<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">


                    <li>
                        <a href="../pages/PaymentHistory.php">Payment History</a>
                    </li>
                    <li>
                        <a href="../pages/Airlines.php"> Airlines History</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="../pages/Report.php"><i class="fa fa-bar-chart-o fa-fw"></i> Report</a>
            </li>

        </ul>
    </div>
</div>
